/* reset tules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* layout rules */

/* header */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 0;
}

.main-menu{
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo{
    display: block;
    height: 30px;
}

/* main */

.pad-top{
    padding-top: 50px;
}

.container{
    max-width: 900px;
    margin: auto;
}

main{
    padding: 60px 0;
}

.container.shop{
    padding: 0 5px;
}

.img-clothes > img{
    aspect-ratio: 1/1.44;
    object-fit: cover;
    object-position: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.col{
    width: 32.5%;
}

h4{
    text-transform: uppercase;
}

.price::after{
    content: ' \20AC';
}

.price{
    color: red;
}

.old.price{
    color: black;
    text-decoration: line-through;
}

.discount{
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 4px 6px;
}

.sostenibility{
    background-color: green;
    color: white;
    font-size: 14px;
    padding: 4px 6px;
}

.col:hover .main-image{
    opacity: 0;
    transition: opacity 400ms;
}

.col .heart:hover{
    color: red;
}

.shop-menu{
    display: flex;
    gap: 7px;
    align-items: center;
}

.shop-menu li{
    font-size: 25px;
}

.shop-menu  img{
    height: 18px;
    display: block;
}

/* footer */

.container.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 5px;
}

footer h4, .go-to{
    text-transform: capitalize;
    margin-bottom: 7px;
}

.privacy-policy{
    display: flex;
    align-items: center;
    gap: 7px;
}

.social-menu{
    display: flex;
    align-items: center;
    gap: 7px;
}

.social-menu img{
    height: 18px;
    display: block;
}

.social-menu li{
    background-color: white;
    font-size: 15px;
    padding: 2px;
    border-radius: 5px;
}

#facebook{
    padding: 0;
}

#facebook img{
    height: 28px;
    width: 100%;
}

/* position rules */

header{
    background-color: orange;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.relative{
    position: relative;
}

.heart{
    background-color: white;
    font-size: 20px;
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    right: 0px;
}

.absolute-hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.attractive-info{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

/* utilities */

.bg-black, #facebook{
    background-color: black;
}