/* reset tules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* layout rules */

.container{
    max-width: 900px;
    margin: auto;
}

main{
    padding: 60px 0;
}

.container.shop{
    padding: 0 5px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.col{
    width: 32.5%;
}

h4{
    text-transform: uppercase;
}

.price::after{
    content: ' \20AC';
}

.price{
    color: red;
}

.old.price{
    color: black;
    text-decoration: line-through;
}